VITE_CORE_WORKER_URL=http://127.0.0.1:8807
VITE_PACKAGES_WORKER_URL=http://127.0.0.1:8797
VITE_USE_CORE_D1=false
VITE_USE_PACKAGES_D1=false
VITE_USE_HR_D1=false
VITE_USE_SETTINGS_D1=false
VITE_USE_R2_FILES=false
